*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black
}
.nav-link{
    color: rgb(253, 249, 249);
}
.nav-bar{
    background: #a80929 0 0 no-repeat padding-box;
}
.h1{
    color: white;
}

.footer-nav{
    background: #a80929 0 0 no-repeat padding-box;
}
.logo{
    height: 28px;
    margin-top: 5px;
    justify-content: space-evenly;
}
.footer ul li a, .footer h4{
    color: white;
} 
.footer h4{
    font-size: 16px;
}
.footer ul li a, .footer .copyright{
    font-size: 14px;
}